<div class="row justify-content-md-center">
    <br>
    <div class="col-md-6">
        <h3>Fogot Password..?</h3>
        <p>Please fill following details, link to change password will be sent to your mail</p>
        <form [formGroup]="fpFormGroup" (ngSubmit)="sendMail(fpFormGroup.value)">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email"
                    placeholder="Ex. pat@example.com">
                <mat-error [hidden]="!fpFormGroup.controls.email.touched || fpFormGroup.controls.email.valid">
                Email is <strong>Invalid</strong>
                </mat-error>
            </mat-form-field>
            <div class="d-flex justify-content-center">
                <button [disabled]="fpFormGroup.invalid" mat-raised-button color="primary" type="submit">Send Link</button>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <mat-spinner *ngIf="sending" diameter="30"></mat-spinner>
            </div>
        </form>
    </div>
</div>