<div class="row">
    <div class="col-md-2">
        <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary" (click)="goBack()">Back</button>
        </div>
    </div>
    <div class="col-md-6" style="text-align: center;">
        <div *ngIf="loading && !found">
            <div class="d-flex justify-content-center">
                <mat-spinner diameter="30"></mat-spinner>
            </div>
        </div>
        <div *ngIf="found && !loading">
            <mat-card>
                <h3>Create Group</h3>
                <form [formGroup]="groupFormGroup" (ngSubmit)="createGroup(groupFormGroup.value)">
                    <mat-form-field class="example-full-width">
                        <mat-label>Group Name</mat-label>
                        <input matInput formControlName="groupName">
                        <mat-error>
                        Group Name is <strong>Required</strong>
                        </mat-error>
                    </mat-form-field>
                    <h4 style="text-align: left;">Select Members : </h4><br>
                    <div class="scroll" style="text-align: left;">
                        <label formArrayName="usersHtml" *ngFor="let user of formData.controls; let i = index">
                            <input type="checkbox" [formControlName]="i">
                            {{ usersHtml[i].name }} &nbsp;
                        </label>

                    </div>
                    <button type="submit" [disabled]="groupFormGroup.invalid" mat-raised-button color="primary">Go...</button><br><br>

                    <div class="d-flex justify-content-center">
                        <mat-spinner *ngIf="creating" diameter="30"></mat-spinner>
                    </div>
                </form> 
            </mat-card> 
        </div>
    </div>
</div>