<div class="row justify-content-md-center">
    <br>
    
    <div class="col-md-6">
        <!-- <div *ngIf="verified"> -->
            <h3>Change Password</h3>
            <p>Please Enter new Password</p>
            <form [formGroup]="cpFormGroup" (ngSubmit)="changePassword(cpFormGroup.value)">
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error [hidden]="!cpFormGroup.controls.email.touched || cpFormGroup.controls.email.valid">
                    Password is <strong>Invalid</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="confirmPassword">
                    <mat-error [hidden]="!cpFormGroup.controls.email.touched || cpFormGroup.controls.email.valid">
                    Password is <strong>Not Matching</strong>
                    </mat-error>
                </mat-form-field>
                <div class="d-flex justify-content-center">
                    <button [disabled]="cpFormGroup.invalid" mat-raised-button color="primary" type="submit">Change Password</button>
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
                </div>
                <mat-form-field class="example-full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                    <mat-error>
                      First Name is <strong>Required</strong>
                    </mat-error>
                   </mat-form-field>
            </form>
        <!-- </div> -->
        <div *ngIf="!verified">
            <h3>Sorry Your Token is expired please do procedure again</h3><br>
            <div class="d-flex justify-content-center">
                <button mat-raised-button color="primary" [routerLink]="['/auth/forgotPassword']" type="submit">Goto Forgot Password</button>
            </div>
        </div>
    </div>
</div>